.footer {
    height: 50px;
    position: fixed;
    bottom: 0;
    line-height: 50px;
    background-color: #ccc;
    width: 100%;
    left: 224px;
    padding-left: 10px;
}
.footer-cmt {
    color: #676a6c;
}